---
import Layout from "../../layouts/layout.astro";
---

<Layout title="¿Cuánto Cuestan los Pisos de Resina Epóxica?">
  <h1 class="text-4xl font-bold my-2">
    Cómo Aplicar Pisos de Resina Epóxica con la Técnica de Marmoleado
  </h1>
  <p class="my-2">
    El marmoleado es una técnica de diseño que ha ganado popularidad en la
    aplicación de pisos de resina epóxica. Este efecto crea la apariencia de
    mármoles naturales en tus superficies, agregando un toque de elegancia y
    sofisticación a cualquier espacio. En este artículo, te guiaremos a través
    de los pasos esenciales para aplicar pisos de resina epóxica con la técnica
    de marmoleado.
  </p>
  <h2 class="text-2xl font-bold my-2">Paso 1: Preparación del Piso</h2>
  <p class="my-2">
    La preparación adecuada es fundamental. Comienza por limpiar y nivelar la
    superficie en la que deseas aplicar la resina epóxica. Asegúrate de que el
    sustrato esté completamente libre de polvo, grasa y cualquier imperfección.
    Una superficie bien preparada garantiza una mejor adhesión de la resina.
  </p>
  <h2 class="text-2xl font-bold my-2">Paso 2: Elección de Colores</h2>
  <p class="my-2">
    Selecciona los colores de resina epóxica que utilizarás en tu diseño de
    marmoleado. Por lo general, se eligen dos o más colores que se mezclarán
    para crear el efecto de veta de mármol. La elección de los colores depende
    del aspecto de mármol que desees lograr.
  </p>

  <h2 class="text-2xl font-bold my-2">Paso 3: Mezcla de Resina</h2>
  <p class="my-2">
    Sigue las instrucciones del fabricante para mezclar la resina epóxica y el
    endurecedor en las proporciones adecuadas. A continuación, agrega los
    pigmentos para crear los colores deseados. Mezcla cuidadosamente para
    asegurarte de que los colores se combinen de manera uniforme.
  </p>
  <h2 class="text-2xl font-bold my-2">Paso 4: Aplicación de la Resina</h2>
  <p class="my-2">
    Usa un rodillo de alta densidad para aplicar la resina epóxica sobre la
    superficie de manera uniforme. En este punto, no te preocupes por la
    apariencia final, ya que se modificará durante el proceso de marmoleado.
  </p><h2 class="text-2xl font-bold my-2">Paso 5: Técnica de Marmoleado</h2>
  <p class="my-2">
    Para crear el efecto de marmoleado, utiliza una espátula o pincel para
    aplicar movimientos aleatorios y curvos en la resina aún húmeda. Estos
    movimientos imitarán las vetas del mármol. Juega con la dirección y el
    grosor de las vetas para obtener el aspecto deseado.
  </p>
  <h2 class="text-2xl font-bold my-2">Paso 6: Tiempo de Curado</h2>
  <p class="my-2">
    Deja que la resina cure según las indicaciones del fabricante. Durante este
    período, el efecto de marmoleado se intensificará. Evita cualquier actividad
    en el área para garantizar un acabado uniforme.
  </p><h2 class="text-2xl font-bold my-2">Paso 7: Acabado Final</h2>
  <p class="my-2">
    Una vez que la resina se ha curado por completo, aplica una capa selladora o
    protectora para resaltar el efecto de marmoleado y proteger tus pisos. Esto
    ayudará a mantener su belleza y durabilidad a lo largo del tiempo.
  </p>
  <p class="my-2">
    En resumen, la técnica de marmoleado es una forma elegante y creativa de
    aplicar pisos de resina epóxica. Con una preparación adecuada y un enfoque
    cuidadoso en la aplicación, puedes lograr un aspecto de mármol impresionante
    en tus superficies. ¡Dale vida a tus espacios con esta técnica única!
  </p>
</Layout>
