<footer
  class="flex justify-center items-center w-full h-16 text-white bg-gray-800"
>
  <a
    href="https://cquirozipi.vercel.app/"
    target="_blank"
    rel="noopener noreferrer"
    class="px-4 text-sm font-bold text-center text-white bg-gray-800 hover:text-gray-400 hover:bg-gray-900"
  >
    Desarrollado por: <span> claudio quiroz</span>
  </a>
</footer>
