<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a href="/" class="text-white text-lg font-semibold">Inicio</a>
    </div>
    <div class="hidden md:flex space-x-4">
      <a href="/aplicacion" class="text-white">Aplicación</a>
      <a href="/costo" class="text-white">Costo</a>
      <a href="/durabilidad" class="text-white">Durabilidad</a>
      <a href="/herramientas" class="text-white">Herramientas</a>
      <a href="/resinas" class="text-white">Resinas</a>
      <a href="/tecnicas/marmoleado" class="text-white">Técnicas</a>
    </div>
    <div class="md:hidden">
      <button id="menu-toggle" class="text-white">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
