---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="description" content="Pisos de resina epóxica" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/logo.jpg" />
  <link rel="shortcut icon" href="/logo.jpg" />
  <meta property="og:image" content="avatar.jpg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions />

  <body>
    <Navbar />
    <main class="container mx-auto p-4 main">
      <slot />
    </main>
    <style>
      .main {
        min-height: calc(100vh - 4rem);
        border: 1px solid #eee;
      }
      main h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
